@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  
body{
    max-width: 100vw;
    overflow-x: hidden; 
  }

header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    padding: 2rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

#logo{
   width: 300px;
   height: 100px;
}

.mail{
    display: flex;
    gap: 2rem;
}

.mail h2{
  font-size: 25px;
}

.mail h2 i{
     color: red;
     padding-right: 10px;
     font-size: 30px;
     align-items: center;
     justify-content: center;
}


@media(max-width:1400px){

  header{
    padding: 18px 6%;
  }
}

@media(max-width:1200px){

  
  header{
    padding: 16px 5%;
  }

  #logo{
    width: 280px;
    height: 95px;
 }
 
 .mail{
     display: flex;
     gap: 2rem;
 }
 
 .mail h2{
   font-size: 22px;
 }
 
 .mail h2 i{
      color: red;
      padding-right: 10px;
      font-size: 25px;
      align-items: center;
      justify-content: center;
 }
}

@media(max-width:1105px){

  
  header{
    padding: 15px 4%;
  }

  #logo{
    width: 260px;
    height: 90px;
 }
 
 .mail{
     display: flex;
     gap: 1rem;
 }
 
 .mail h2{
   font-size: 20px;
 }
 
 .mail h2 i{
      color: red;
      padding-right: 8px;
      font-size: 22px;
      align-items: center;
      justify-content: center;
 }
}


@media(max-width:748px){

  header{
    padding: 12px 2%;
  }

  #logo{
    width: 180px;
    height: 80px;
 }
 
 .mail{
     display: flex;
     gap: 1rem;
 }
 
 .mail h2{
   font-size: 15px;
 }
 
 .mail h2 i{
      color: red;
      padding-right: 8px;
      font-size: 16px;
 } 
}

@media(max-width:640px){


  header{
    padding: 10px 1.5%;
  }

  #logo{
    width: 130px;
    height: 40px;
 }
 
 .mail{
     display: flex;
     gap: 1rem;
 }
 
 .mail h2{
   font-size: 10px;
 }
 
 .mail h2 i{
      color: red;
      padding-right: 6px;
      font-size: 12px;
 } 
}

@media(max-width:560px){


  header{
    padding: 8px 1%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #logo{
    width: 90px;
    height: 30px;
 }
 
 .mail{
     display: flex;
     gap: 1rem;
 }
 
 .mail h2{
   font-size: 8px;
 }
 
 .mail h2 i{
      color: red;
      padding-right: 5px;
      font-size: 10px;
 } 
}

/* /* home */

 .home{
  background-color: rgba(184, 181, 181, 0.687);
  height: 515px;
  margin-top: 8rem;
  align-items: center;
  display: flex;
  gap: 100px;
  justify-content: center;
}

.home-text h1{
  font-size: 30px;
  color: rgb(198, 25, 25);
  line-height: 1.5;
  font-weight: 500px;
}

.btn{
  font-size: 20px;
  background-color: black;
  padding: 10px 50px;
  margin-top: 10px;
  color: white;
   border-radius: 30px;
}

.home-img img{
  height: 500px;
  margin-bottom: 10px;
  background-color: red;
  border-bottom-right-radius: 50% ;
  border-bottom-left-radius: 50%;
}

@media(max-width:1200px){

  .home{
    height: 515px;
    margin-top: 7rem;
    align-items: center;
    display: flex;
    gap: 90px;
  }
  
  .home-text h1{
    font-size: 28px;
    line-height: 1.5;
    font-weight: 500px;
  }
  
  .btn{
    font-size: 18px;
    background-color: black;
    padding: 9px 40px;
    margin-top: 10px;
    border-radius: 28px;
  }
  
  .home-img img{
    height: 490px;
    margin-bottom: 20px;
    background-color: red;
    border-bottom-right-radius: 50% ;
    border-bottom-left-radius: 50%;
  }
  
}


@media(max-width:1105px){

  .home{
    height: 500px;
    margin-top: 7rem;
    align-items: center;
    display: flex;
    gap: 80px;
  }
  
  .home-text h1{
    font-size: 26px;
    line-height: 1.5;
    font-weight: 500px;
  }
  
  .btn{
    font-size: 16px;
    background-color: black;
    padding: 9px 35px;
    margin-top: 8px;
    border-radius: 26px;
  }
  
  .home-img img{
    height: 475px;
    margin-bottom: 20px;
    background-color: red;
    border-bottom-right-radius: 50% ;
    border-bottom-left-radius: 50%;
  }
  
}


@media(max-width:900px){

  .home{
    height: 450px;
    margin-top: 7rem;
    align-items: center;
    display: flex;
    gap: 70px;
  }
  
  .home-text h1{
    font-size: 24px;
    line-height: 1.3;
    font-weight: 450px;
  }
  
  .btn{
    font-size: 14px;
    background-color: black;
    padding: 8px 30px;
    margin-top: 7px;
    border-radius: 24px;
  }
  
  .home-img img{
    height: 425px;
    margin-bottom: 20px;
    background-color: red;
    border-bottom-right-radius: 50% ;
    border-bottom-left-radius: 50%;
  }
  
}

@media(max-width:748px){

  .home{
    height: 350px;
    margin-top: 6rem;
    align-items: center;
    display: flex;
    gap: 50px;
  }
  
  .home-text h1{
    font-size: 17px;
    line-height: 1.2;
    font-weight: 400px;
  }
  
  .btn{
    font-size: 10px;
    background-color: black;
    padding: 6px 22px;
    margin-top: 6px;
    border-radius: 17px;
  }
  
  .home-img img{
    height: 325px;
  }
  
}

@media(max-width:640px){

  .home{
    height: 270px;
    margin-top: 3rem;
    align-items: center;
    display: flex;
    gap: 45px;
  }
  
  .home-text h1{
    font-size: 12px;
    line-height: 1;
    font-weight: 400px;
  }
  
  .btn{
    font-size: 8px;
    background-color: black;
    padding: 5px 18px;
    margin-top: 6px;
    border-radius: 13px;
  }
  
  .home-img img{
    height: 245px;
  }
  
}

@media(max-width:560px){

  .home{
    height: 200px;
    margin-top: 3rem;
    align-items: center;
    display: flex;
    gap: 60px;
  }
  
  .home-text h1{
    font-size: 8px;
    line-height: 1;
    font-weight: 250px;
  }
  
  .btn{
    font-size: 6px;
    background-color: black;
    padding: 5px 12px;
    margin-top: 4px;
    border-radius: 10px;
  }
  
  .home-img img{
    height: 175px;
  }

} 

   /* study */


 .study-text{
  font-size: 25px;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}

.boxes{
  display: flex;
  gap: 2rem;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 3rem;
}

#box{
  background-color: rgba(216, 81, 81, 0.811);
  color: white;
  border: none;
}

 .box-text .line{
  background-color: white;
  color: black;
  padding: 5px;
  font-size: 20px;
  margin: 0px 20px 10px 20px; 
}


 .box-text{
  border: 1px solid black;
  padding: 20px;
}

.box-text h3{
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 20px;
  margin: 0px 20px 10px 20px; 
}


@media(max-width:1200px){

  .study-text{
    font-size: 23px;
    padding-top: 18px;
  }
  
  .boxes{
    gap: 1.8rem;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 2.8rem;
  }
/*   
  #box{
    padding: 18px;
  } */
  
   .box-text .line{
    padding: 5px;
    font-size: 16px;
    margin: 0px 18px 9px 18px; 
  }
  
   /* .box-text{
    padding: 18px;
  } */

  .box-text p{
    font-size: 15px;
  }
  
  .box-text h3{
    padding: 5px;
    font-size: 16px;
    margin: 0px 18px 9px 18px; 
  }
  
}

 @media(max-width:1024px){

  .study-text{
    font-size: 20px;
    padding-top: 16px;
  }
  
  .boxes{
    gap: 1.4rem;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 2.8rem;
  }
  
  #box{
    padding: 13px;
  }
  
   .box-text .line{
    padding: 5px;
    font-size: 14px;
    margin: 0px 16px 8px 16px; 
  }
  
   .box-text{
    padding: 12px;
  }

  
  .box-text p{
    font-size: 12px;
  }
  
  .box-text h3{
    padding: 5px;
    font-size: 14px;
    margin: 0px 16px 8px 16px; 
  }
} 

 @media(max-width:905px){

  .study-text{
    font-size: 15px;
    padding-top: 14px;
  }
  
  .boxes{
    gap: 1rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 1.9rem;
  }
  
  #box{
    padding: 14px;
  }
  
   .box-text .line{
    padding: 5px;
    font-size: 12px;
    margin: 0px 14px 6px 14px; 
  }
  
   .box-text{
    padding: 10px;
  }

  .box-text p{
    font-size: 11px;
  }
  
  .box-text h3{
    padding: 5px;
    font-size: 12px;
    margin: 0px 14px 6px 14px; 
  }
} 

@media(max-width:748px){

  .study-text{
    font-size: 12px;
    padding-top: 14px;
  }

  .box-text img{
    width: 30px;
  }
  
  .boxes{
    gap: 1rem;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1.5rem;
  }
  
  #box{
    padding: 12px;
  }
  
   .box-text .line{
    padding: 5px;
    font-size: 10px;
    margin: 0px 11px 5px 11px; 
  }
  
   .box-text{
    padding: 8px;
  }

  .box-text p{
    font-size: 10px;
  }
  
  .box-text h3{
    padding: 5px;
    font-size: 10px;
    margin: 0px 11px 5px 11px; 
  }
} 

@media(max-width:640px){

  .study-text{
    font-size: 10px;
    padding-top: 12px;
  }

  .box-text img{
    width: 30px;
  }
  
  .boxes{
    gap: 0.7rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1rem;
  }
  
  #box{
    padding: 9px;
  }
  
   .box-text .line{
    padding: 5px;
    font-size: 9px;
    margin: 0px 10px 4px 10px; 
  }
  
   .box-text{
    padding: 7px;
  }

  .box-text p{
    font-size: 9px;
  }
  
  .box-text h3{
    padding: 5px;
    font-size: 9px;
    margin: 0px 10px 4px 10px; 
  }
} 

@media(max-width:560px){

  .study-text{
    font-size: 6px;
    padding-top: 8px;
  }

  .box-text img{
    width: 25px;
  }
  
  .boxes{
    gap: 0.5rem;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0.8rem;
  }
  
  #box{
    padding: 7px;
  }
  
   .box-text .line{
    padding: 3px;
    font-size: 6px;
    margin: 0px 8px 3px 8px; 
  }
  
   .box-text{
    padding: 6px;
  }

  .box-text p{
    font-size: 8px;
  }
  
  .box-text h3{
    padding: 3px;
    font-size: 6px;
    margin: 0px 8px 3px 8px; 
  }
} 

@media(max-width:460px){

  .study-text{
    font-size: 6px;
    padding-top: 6px;
    font-weight: 400;
  }

  .box-text img{
    width: 20px;
  }
  
  .boxes{
    gap: 0.4rem;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0.8rem;
  }
  
  #box{
    padding: 6px;
  }
  
   .box-text .line{
    padding: 2px;
    font-size: 5px;
    margin: 0px 6px 2px 6px; 
  }
  
   .box-text{
    padding: 4px;
  }

  .box-text p{
    font-size: 5px;
  }
  
  .box-text h3{
    padding: 2px;
    font-size: 5px;
    margin: 0px 6px 2px 6px; 
  }
} 




.boxess{
  display: flex;
  gap: 2rem;
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 3rem;
}

.box-texts{
  border: 1px solid black;
  padding: 18px;
  font-size: 21px;
} 

.box-texts h3{
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 20px;
  margin: 0px 30px 15px 30px; 
}



.about{
  text-align: center;
  align-items: center;
  padding-top: 50px;
  padding-left: 250px;
  padding-right:250px;
  background-color: rgba(184, 181, 181, 0.687); 
  margin-top: 30px;
}

.about-text h3{
  font-size: 35px;
  font-weight: 1000;
}

.about-text p{
  font-size: 20px;
  margin-top: 30px;
  padding-bottom: 30px;
}



.work{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  padding-left: 250px;
  padding-right: 250px;
  background-color: rgb(234, 94, 94);
}

.work-img img{
  width:300px;
}

.work-text h1{
 font-size: 30px;
 color: white;
}

.work-text p{
  font-size: 20px;
  color: white;
}

.work-text .btn{
 background-color: white;
 color: black;
 padding: 10px 40px;
 font-size: 15px;
 border-radius: 50px;
 margin-top: 20px;
 font-weight: 500;
 border: none;
}